.about {
    position: relative;
    background-image: url(../assets/second.jpg);
    height: 822px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
  }
  
  .about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(140, 79, 42, 0.30);
  }
  
  .about-content{
    position: relative;
    z-index: 1;
  }

.about .about-content h1 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    height: 160px;
  }

.about .about-content p {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.play-button{
    width: 150px;
    height: 150px;
    background-color: #39C2D7;
    border: none;
    border-radius: 50%;
    color: #fff;
    font-size: 75px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 70px;
}