.footer {
    background-color: #464547;
    color: rgba(255, 255, 255, 0.40);
    padding: 20px 0;
    font-size: 14px;
    font-weight: 500;
}
.footer .footer-content p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.footer .footer-content p a{
    text-decoration: none;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
}

.footer-img{
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
}
  .project{
    padding-left: 5%;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 3.6px;
    text-transform: uppercase;
  }