.headline{
    text-align: center;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    margin-top: 87px;
}

.headline h1{
    color: #464547;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 
    height: 150px;
}

.headline-p1{
    color: #666;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    height: 100px;
}


.headerline-p2{
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    height: 220px;
}

.read-button{
    background-color: #55C2D8;
    color: #EEEEEE;
    position: relative;
    font-style: normal;
    line-height: 26px; 
    letter-spacing: 1.4px;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    border-radius: 18px;
    height: 36px;
    flex-shrink: 0;
}