
body{
    margin: 0;
    padding: 0;
}

.header{
    background-image: url(../assets/Header.jpg);
    height: 822px;
    display: flex;
    align-items: center;
    justify-content: center;    
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.header-detail{
    text-align: center;
}
.header-h1{
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px; 

}

.header-p{
    color: #FFFFFFB2;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.header-logo{
    width: 63px;
    height: 63px;
    flex-shrink: 0;
}





